################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
*.vsidx
.vs/VSWorkspaceState.json
.vs/AcademicNavigator/v17/.wsuo
