/* Style the container div */
.critical-path-container {
  text-align: center;
  margin: 10px;
  width: 100%;
  max-height: 80vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Style the heading wrapper */
.heading-wrapper {
  display: grid;
  grid-template-columns: 1fr auto; /* Two columns: one for heading, one for button */
  align-items: center; /* Center vertically */
  gap: 20px; /* Adjust the gap as needed */
}

/* Style the heading */
.critical-path-heading {
  font-size: 24px;
  color: #333;
  margin-bottom: 5px;
}

.legend {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  padding-left: 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Style the image */
.critical-path-img {
  max-width: 100%;
  max-height: 100%;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
}

.major-dropdown {
  font-size: 16px;
  padding: 8px 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
  width: 100%;
}
