/* NewView.css */

/* Style for the entire screen */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

/* Style for the main container */
.new-view-container {
  padding: 40px;
  border-radius: 8px;
  background-color: #fbf9ffff;
  width: 90vw; /* Adjust the width as needed */
  max-width: 1200px; /* Limit the maximum width for larger screens */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex; /* Display items horizontally */
  flex-direction: column; /* Align items vertically within the container */
}

/* Style for the title */
h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

/* Style for the list of classes */
.checkbox-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  margin-bottom: 20px;
  .classesContainer {
    max-height: 10vh;
    overflow-y: scroll;
    background-color: white;
    border: 1px solid #ccc;

    ul li{
      transition: all 0.3s ease;
    }
    ul li:hover{
      background-color: #ccc;
    }
  }
}

/* Style for each checkbox item */
.checkbox-item {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Style for the input labels */
label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

/* Style for the input elements */
.input-field {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.input-field-credits {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}


/* Style for the buttons */
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.button {
  padding: 12px 24px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.button-secondary {
  background-color: #ccc;
}

.button:hover {
  background-color: #555;
}

/* Style for hiding the MainView initially */
.main-view {
  display: none;
}

/* Style for h2 headings */
h2 {
  font-size: 24px;
  margin: 20px 0;
}

.question-mark-img {
  width: 20px;
  height: 20px;
}

.help-button {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 400px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}

.modal ul {
  list-style-type: none;
  padding: 0;
}

.modal li {
  font-size: 1rem;
  color: #666;
  margin-bottom: 10px;
}

.modal button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal button:hover {
  background-color: #555;
}