/* main-view.scss */

/* Style for the container of the tab sections */
.main-view {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

/* Style for the top bar */
.top-bar {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 5px 5px;
  background-color:#f7d1ca;
  gap: 10px;
  //border-bottom: 1px solid #ccc;
}

label {
  font-weight: bold;
  font-size: 14px;
  align-self: center;
}

input.input-field {
  padding: 8px;
  width: 60px;
  border: 1px solid #fbfbfb;
  border-radius: 4px;
  font-size: 14px;
  margin-right: 15px;
  background-color: #fdf6f6;

}

/* Style for the "Save Work Space" button */
.save {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  padding-left: 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  /* Hover effect */
  &:hover {
    background-color: #555;
  }
}

.credits {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  /* Hover effect */
  &:hover {
    background-color: #555;
  }
}

/* Style for the "Help" button */
.help-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.right-tabs {
  flex: 1;
  padding-left: 10px;
  box-sizing: border-box;
}

/* Style for the tab headers */
.react-tabs__tab {
  font-size: 16px;
  padding: 10px 20px;
  background-color:#f7d1ca;
  border: 1px solid #d6a5a5ac;
  border-radius: 5px 5px 0 0;
  color:#523737;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
  &:hover{
    background-color: #ffb9ac;
  }
}

.react-tabs__tab--selected {
  background-color:#ffa08f;
  border-bottom-color: transparent;
  &:hover{
    background-color:#ffa08f;
  }
}

/* Style for the tab panels */
.react-tabs__tab-panel {
  padding: 20px;
  border: 1px solid #eacaca;
  border-radius: 0 0 5px 5px;
  background-color: #fae3e3;
}

/* Optional: Add some space between the different sets of tabs */
.react-tabs + .react-tabs {
  margin-top: 20px;
}
