// side-bar.scss

aside {
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}
.SideBarHeader{
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    .description {
        text-align: center;
        font-size: 1rem;
        margin-bottom: 20px;
        color: #666;
    }
    .ButtonGroup {
        display: flex;
        justify-content: space-between;
        .RadioButton {
          display: flex;
          justify-content: center;
          margin-top: 5px;
          label {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-bottom: 0;
            margin-left: 5px;
          }
          input{
            width: auto;
            height: auto;
            margin: 0;
          }
        }
      }
}
.classesContainer{
    max-height: 60vh;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
}
.dndnode {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #f0f0f0;
    }
}

.question-mark-img {
    width: 20px;
    /* Adjust the size as needed */
    height: 20px;
    /* Adjust the size as needed */
}

/* Style the help button */
.help-button {
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    /* Display the button as inline-block */
    vertical-align: middle;
    /* Align it vertically in the middle of the line */
    margin-left: 10px;
    /* Add some left margin for spacing */
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.modal p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

.modal button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal button:hover {
    background-color: #555;
}

.elective-node {
    background-color: rgb(234, 234, 153);
  }
  
.core-node {
    background-color: rgb(158, 158, 228);
}