.dndflowb {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    height: 100%;
  }
  
  .dndflowb aside {
    border-right: 1px solid #eee;
    padding: 15px 10px;
    font-size: 12px;
    background: #fcfcfc;
  }
  
  .dndflowb aside .description {
    margin-bottom: 10px;
  }
  
  .dndflowb .dndnode {
    height: 20px;
    padding: 4px;
    border: 1px solid #1a192b;
    border-radius: 2px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
  }
  
  .dndflowb .reactflow-wrapper {
    flex-grow: 1;
    height: 100%;
  }
  
  .dndflowb .selectall {
    margin-top: 10px;
  }
  
  @media screen and (min-width: 768px) {
    .dndflowb {
      flex-direction: row;
    }
  
    .dndflowb aside {
      width: 20%;
      max-width: 250px;
    }
  }

/**/
.dndflowb .react-flow__handle {
    display: none;
}